doctype html
html(lang="en")
head
    title Best DMD team ever project - index, main page
    link(href="/bootstrap.min.css", rel="stylesheet")
    link(href="/search_res.css", rel="stylesheet")
body
    .container
        form.form-searching(name="searchingForm", action="/search", method="get")
            input#searchFor.form-control(type="text", name = "query", placeholder = "search...", required, autofocus)

            select(name="type")
                option(value="researchArea") Research area
                option(value="authorName") Author name
                option(value="pubYear") Year of the publication
                option(value="pubTitle") Title of the publication
                option(value="keyword") Keywords
                option(value="pubType") Type of the publication

        div.form-results()
            ol#articles
                if results
                    h4 Found #{results[0].count} results
                    if (offset - 50) >= 0
                        a(href="/search?type=#{type}&query=#{query}&offset=#{offset - 50}") [Previous #{50} results]
                    else
                    [Previous #{50} results]
&#160;
    if (offset + 50) < results[0].count
        a(href="/search?type=#{type}&query=#{query}&offset=#{offset + 50}") [Next #{50} results]
    else
[Next #{50} results]
    br
    hr
    each res in results
        a(href="/publication/#{res.ID}") #{res.title}
        br
        p Year: #{res.year} Type: #{res.type}
else
p No results :(