doctype html
html(lang="en")
head
    title Best DMD team ever project - index, main page
    link(href="/bootstrap.min.css", rel="stylesheet")
    link(href="/search_res.css", rel="stylesheet")
body
    .container
        form.form-searching(name="searchingForm", action="/search/page/0", method="post")
            input#searchFor.form-control(type="text", name = "searchFor", placeholder = "search...", required, autofocus)

            select(name="searchType")
                option(value="researchArea") Research area
                option(value="authorName") Author name
                option(value="pubYear") Year of the publication
                option(value="pubTitle") Title of the publication
                option(value="keyword") Keywords
                option(value="pubType") Type of the publication


            div.form-results()
                ol#articles
                    form.form-result(method="post", action="/publication/#{pubID}")
                        each res in results
                            input(name="pubID", type="hidden", value="#{res.ID}")
                            a(href="/publication/#{res.ID}", onclick="parentNode.submit();") #{res.ID}; #{res.title}; #{res.year}; #{res.type}
                            br
                        else
                            li No results :(

